:root {
  --primary-color: #3d405b;
  --background-color: #f4f1de;
  --third-color: #f2cc8f;
  --twitter-color: #1da1f2;
  --github-color: #c9510c;
  --linkedin-color: #c9510c;
  --primary-font-size: 16px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.6;
  text-rendering: auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  /* gradient color styling */
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  background-clip: text;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
a {
  color: var(--primary-color);
}

a:active {
  color: var(--third-color);
}

a:hover {
  text-decoration: none;
}

p span {
  background-color: var(--primary-color);
  color: #fff;
}

li {
  list-style-type: none;
}

button,
.main-btn,
.secondary-btn {
  /* overwrites browser defaults and resets the border */
  border: none;
  background-image: linear-gradient(to right, #3d405b 0%, #f2cc8f 100%);
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 250, 250);
  padding: 15px;
  border-radius: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
button:hover,
button:focus,
.btn:hover,
.btn:focus,
.main-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}
/* Navigation */
.navigation-list_item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}

.logo_item {
  margin: 0 auto;
  position: relative;
  left: 50px;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  display: inline-block;
  /* gradient color styling */
  background: linear-gradient(to right, #3d405b 0%, #f2cc8f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_item a {
  text-decoration: none;
}
/* section styling */

.profile {
  max-width: 700px;
  min-width: 360px;
  margin: 0 auto;
}

.hero-content {
  max-width: max-content;
  height: auto;
}

.profile-section,
.about-section {
  max-width: 700px;
  margin: 0 auto;
}

.profile-section a {
  text-decoration: none;
}

.profile_portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  margin-top: 25px;
  border-radius: 50%;
}

/* Title styling */

.profile_title,
.work_title {
  display: inline-block;
  /* gradient color styling */
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_title,
.contact_title {
  display: inline-block;
  background: linear-gradient(to left, #3d405b 30%, #f2cc8f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End of title styling */

/* Header styling */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: var(--background-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-header_item {
  flex: 0 1 200px;
}
.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media > * {
  cursor: pointer;
  text-decoration: none;
}
.project-layout {
  width: 100%;
  margin: auto;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin: auto;
}

.biography {
  display: inline-block;
  line-height: 35px;
}

.main-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

main:nth-child(2) {
  padding: 2rem;
}

.hero-img {
  max-width: 470px;
  min-width: 370px;
  height: auto;
}

.content-left {
  width: 30%;
}
.content-left p {
  font-size: 14px;
}
.content-left h2 {
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-gap: 10px;
}

.project_items {
  background-color: #eeebd5;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.project_items:last-child {
  background-color: #f7c3a6;
}

.portfolio-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
/* Animations */

@-webkit-keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(100px, 20px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(100px, 20px);
  }
}

@-webkit-keyframes rotating-grind {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating-grind {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grind {
  animation: 5s rotating-grind infinite linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.cloud-top,
.cloud-bottom {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
.cloud-top {
  animation: 1.8s cloud-move infinite alternate linear;
}

.cloud-bottom {
  animation: 2s cloud-move-reverse infinite alternate-reverse;
}
.sun {
  animation: 5s sun-color infinite alternate linear;
}

/* Media Queries */

/* our project list  */
@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    gap: 10px;
  }
  .project_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* house all of the shared properties */

/* our profile & about section */
@media all and (max-width: 500px) {
  .profile-section,
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .profile-section,
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  button,
  .btn,
  .main-btn {
    display: inline-block;
  }
}
