/* minimal color pallete */

:root {
  --primary-color: #3d405b;
  --background-color: #f4f1de;
  --third-color: #f2cc8f;
  --twitter-color: #1da1f2;
  --github-color: #c9510c;
  --linkedin-color: #c9510c;
  --primary-font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.6;
  text-rendering: auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  /* gradient color styling */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(left, #3d405b 30%, #f2cc8f 100%);
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: var(--primary-color);
}

a:active {
  color: var(--third-color);
}

a:hover {
  text-decoration: none;
}

p span {
  background-color: var(--primary-color);
  color: #fff;
}

li {
  list-style-type: none;
}

button,
.main-btn,
.secondary-btn {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3d405b),
    to(#f2cc8f)
  );
  background-image: -o-linear-gradient(left, #3d405b 0%, #f2cc8f 100%);
  background-image: linear-gradient(to right, #3d405b 0%, #f2cc8f 100%);
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 250, 250);
  padding: 15px;
  border-radius: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus,
.main-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

/* Navigation */

.navigation-list_item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}

.logo_item {
  margin: 0 auto;
  position: relative;
  left: 50px;
  text-transform: uppercase;
  font-size: 30px;
  width: 250px;
  height: 100px;
  display: inline-block;
  /* gradient color styling */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(left, #3d405b 0%, #f2cc8f 100%);
  background: linear-gradient(to right, #3d405b 0%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo_item a {
  text-decoration: none;
}
/* End */

/* section styling */

.profile {
  max-width: 700px;
  min-width: 360px;
  margin: 0 auto;
  overflow: hidden;
}

.hero-content {
  max-width: max-content;
  height: auto;
}

.profile a {
  text-decoration: none;
}
.profile_portrait {
  float: left;
  width: 250px;
  height: 250px;
  background-image: url(/img/profile-picture.jpg);
  background-size: cover;
  background-position: 65%;
  display: block;
  margin-right: 40px;
  margin-top: 25px;
  border-radius: 50%;
}

/* Title styling */

.profile_title,
.work_title {
  display: inline-block;
  /* gradient color styling */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(left, #3d405b 30%, #f2cc8f 100%);
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_title,
.contact_title {
  display: inline-block;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(right, #3d405b 30%, #f2cc8f 100%);
  background: linear-gradient(to left, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 20px;
  margin: auto;
  background: var(--background-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.page-header_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header_item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.social-media > * {
  cursor: pointer;
  text-decoration: none;
}
.project-layout {
  width: 100%;
  margin: auto;
}
.projects {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin: auto;
}

/* about edit */

.main-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
}

.hero-img {
  max-width: 450px;
  min-width: 370px;
  height: auto;
}

.content-left {
  width: 30%;
}
.content-left p {
  font-size: 14px;
}
.content-left h2 {
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Porfolio Styles */

.portfolio-grid {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-gap: 10px;
}

.project_items {
  background-color: #eeebd5;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project_items:hover {
  transform: scale(1);
  transition: .5s ease-in;
}


/* Animations */

@-webkit-keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}

@-webkit-keyframes rotating-grind {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating-grind {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grind {
  -webkit-animation: 5s rotating-grind infinite linear;
  animation: 5s rotating-grind infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.cloud-top,
.cloud-bottom {
  transform-box: fill-box;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.cloud-top {
  -webkit-animation: 1.8s cloud-move infinite alternate linear;
  animation: 1.8s cloud-move infinite alternate linear;
}

.cloud-bottom {
  animation: 2s cloud-move-reverse infinite alternate-reverse;
}
.sun {
  -webkit-animation: 5s sun-color infinite alternate linear;
  animation: 5s sun-color infinite alternate linear;
}

/* Media Queries */

/* our project list  */
@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    gap: 10px;
  }
  .project_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* house all of the shared properties */

/* @media all and (max-width: 750px) {
  .project-list,
  .about_item {
    gap: 10px;
  }
  .project_item:last-child,
  .about_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }


  h1 {
    font-size: 25px;
    text-align: center;
  }
  a {
    font-size: 15px;
  }
} */

/* our profile & about section */

@media all and (min-width: 400px) and (max-width: 750px) {
  .profile,
  .profile_portrait {
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
  }
  .main-section {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }

  .content-left {
    width: auto;
    padding: 5px;
  }

  .profile_portrait {
    display: none;
  }
  h1 {
    font-size: 45px;
  }
}
