/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* minimal color pallete */
:root {
  --primary-color: #3d405b;
  --background-color: #f4f1de;
  --third-color: #f2cc8f;
  --twitter-color: #1da1f2;
  --github-color: #c9510c;
  --linkedin-color: #c9510c;
  --primary-font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: var(--primary-color);
}

a:active {
  color: var(--third-color);
}

a:hover {
  text-decoration: none;
}

p span {
  background-color: var(--primary-color);
  color: #fff;
}

li {
  list-style-type: none;
}

button,
.main-btn,
.secondary-btn {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3d405b),
    to(#f2cc8f)
  );
  background-image: -o-linear-gradient(left, #3d405b 0%, #f2cc8f 100%);
  background-image: linear-gradient(to right, #3d405b 0%, #f2cc8f 100%);
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 250, 250);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Navigation */

.navigation-list_item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}

.logo_item {
  margin: 0 auto;
  position: relative;
  left: 50px;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  display: inline-block;
  /* gradient color styling */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(left, #3d405b 0%, #f2cc8f 100%);
  background: linear-gradient(to right, #3d405b 0%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo_item a {
  text-decoration: none;
}

/* End */

/* section styling */

.profile-section,
.about-section,
.tble {
  max-width: 700px;
  margin: 0px auto;
}
.profile-section a {
  text-decoration: none;
}
.profile_portrait {
  float: left;
  width: 350px;
  margin-right: 40px;
  margin-top: 25px;
  border-radius: 50%;
}

/* Title styling */

.profile_title,
.work_title {
  display: inline-block;
  /* gradient color styling */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(left, #3d405b 30%, #f2cc8f 100%);
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_title,
.contact_title {
  display: inline-block;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(right, #3d405b 30%, #f2cc8f 100%);
  background: linear-gradient(to left, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: #f4f1de;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-header_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header_item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social-media > * {
  cursor: pointer;
}

.work-section {
  text-align: center;
}

.biography {
  display: inline-block;
  line-height: 35px;
}

/* start of grid */
.project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: auto;
  border: none;
  color: var(--primary-color);
}

.project_item {
  text-align: center;
  background-color: rgb(42, 42, 42);
  color: #fff;
}

.project_item:last-child {
  background-color: #e8ee39;
  color: #000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

/* form styles */

.form-page {
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.form_label {
  display: block;
  height: 50px;
}

table,
td,
th {
  border: 1px solid #357b70;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

@-webkit-keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}

@-webkit-keyframes rotating-grind {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating-grind {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grind {
  -webkit-animation: 5s rotating-grind infinite linear;
  animation: 5s rotating-grind infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* .window-tab {
    fill: red;
  }
  .window-tab-2 {
    fill: green;
  } */

.cloud-top,
.cloud-bottom {
  transform-box: fill-box;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.cloud-top {
  -webkit-animation: 1.8s cloud-move infinite alternate linear;
  animation: 1.8s cloud-move infinite alternate linear;
}

.cloud-bottom {
  animation: 2s cloud-move-reverse infinite alternate-reverse;
}
.sun {
  -webkit-animation: 5s sun-color infinite alternate linear;
  animation: 5s sun-color infinite alternate linear;
}

/* Media Queries */

/* our project list  */
@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    gap: 10px;
  }
  .project_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* house all of the shared properties */

@media all and (max-width: 750px) {
  .project-list,
  .about_item {
    gap: 10px;
  }
  .project_item:last-child,
  .about_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
}

/* our profile & about section */
@media all and (max-width: 500px) {
  .profile-section,
  .about-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .profile-section,
  .about-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
