/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
:root {
  --primary-color: #3d405b;
  --background-color: #fff;
  --third-color: #f2cc8f;
  --fourth-color: #00af80;
  --twitter-color: #1da1f2;
  --github-color: #c9510c;
  --linkedin-color: #c9510c;
  --primary-font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.6;
  text-rendering: auto;
  opacity: 0;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

h1 {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: var(--primary-color);
}

a:active {
  color: var(--third-color);
}

a:hover {
  text-decoration: none;
}

p span {
  background-color: var(--primary-color);
  color: #fff;
}

li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation-list_item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

/* hover navigation-list li */

.navigation-list li:hover {
  text-decoration: none;
}

.logo_item {
  margin: 0 auto;
  position: relative;
  left: 50px;
  text-transform: uppercase;
  font-size: 30px;
  width: 250px;
  height: 100px;
  display: inline-block;
}
.logo_item a {
  text-decoration: none;
}
/* End */

/* section styling */

.hero-content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: auto;
}

.profile a {
  text-decoration: none;
}

/* round profile_potrait styling */

.profile_portrait {
  float: left;
  width: 250px;
  height: 250px;
  background-image: url(/img/profile-picture.jpg);
  background-size: cover;
  background-position: 65%;
  display: block;
  margin-right: 40px;
  margin-top: 25px;
  border-radius: 50%;
}

/* Title styling */

.profile_title,
.work_title {
  display: inline-block;
  /* gradient color styling */
  background: -o-linear-gradient(left, #3d405b 30%, #f2cc8f 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_title,
.contact_title {
  display: inline-block;
  background: -o-linear-gradient(right, #3d405b 30%, #f2cc8f 100%);
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: linear-gradient(to left, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 20px;
  margin: auto;
  background: var(--background-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-header_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header_item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.social-media > * {
  cursor: pointer;
  text-decoration: none;
}
.project-layout {
  width: 100%;
  margin: auto;
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin: auto;
}

/* about edit */

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
}

.hero-img {
  max-width: 450px;
  min-width: 370px;
  height: auto;
}

.content-left {
  width: 30%;
}
.content-left p {
  font-size: 14px;
}
.content-left h2 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, #3d405b),
    to(#f2cc8f)
  );
  background: -o-linear-gradient(left, #3d405b 30%, #f2cc8f 100%);
  background: linear-gradient(to right, #3d405b 30%, #f2cc8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Porfolio Styles */
.portfolio-container {
  text-align: center;
}

/* Project Grid */
.projects-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.project_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin: 20px;

}

.project_items:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.contact-container h1 {
  text-align: center;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin: 20px;
}

/* End */

/*footer fixed bottom */

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--fourth-color);
  color: white;
  text-align: center;
}

/* End */

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
}

/* style main-container_item */

.main-container_item {
  width: 50%;
  padding: 10px;
}

/* End */

.main-container_item--left {
  width: 30%;
}

.main-container_item--right {
  width: 50%;
  float: right;
}

.main-container_item--right img {
  width: 50%;
  height: auto;
}

.main-container_item--left_button {
  width: 100%;
  height: 100%;
  background-color: var(--fourth-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.project-btn {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

/* End */

/* Style about-container using flexbox */

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
}

/* End */

/* Style about-container_item */

.about-container_item {
  width: 50%;
  padding: 10px;
}

/* End */

.about-container_item--left {
  width: 50%;
}

.about-container_item--right {
  width: 50%;
  float: right;
}

.about-container_item--right img {
  width: 50%;
  height: auto;
}

.about-container_item--left_button {
  width: 100%;
  height: 100%;
  background-color: var(--fourth-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

/* End */

/* ANIMATIONS */

@-webkit-keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}

@-webkit-keyframes rotating-grind {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating-grind {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grind {
  -webkit-animation: 5s rotating-grind infinite linear;
  animation: 5s rotating-grind infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.cloud-top,
.cloud-bottom {
  transform-box: fill-box;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.cloud-top {
  -webkit-animation: 1.8s cloud-move infinite alternate linear;
  animation: 1.8s cloud-move infinite alternate linear;
}

.cloud-bottom {
  animation: 2s cloud-move-reverse infinite alternate-reverse;
}
.sun {
  -webkit-animation: 5s sun-color infinite alternate linear;
  animation: 5s sun-color infinite alternate linear;
}

/* Media Queries */

/* our project list  */
@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    gap: 10px;
  }
  .project_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* Main & about section */

@media all and (max-width: 500px) {
  .main-container, .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
  }
  .main-container_item, .about-container_item {
    width: 100%;
    padding: 10px;
  }
  .main-container_item--left, .about-container_item--left {
    width: 100%;
  }
  .main-container_item--right, .about-container_item--right {
    width: 100%;
  }
  .main-container_item--right img, .about-container_item--right img {
    width: 100%;
    height: auto;
  }
}

/* make nav responsive using media queries */

@media all and (max-width: 500px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
  }
  nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
  }
  nav > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
  }
  nav > ul > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
    display: none;
  }
}
