

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #357b70;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: #489c79;
}

p span {
  background-color: #000;
  color: #fff;
}

li {
  list-style-type: none;
}

button,
.btn {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  display: inline-block;
  background-color: #5b9a90;
  text-decoration: none;
  color: rgb(255, 250, 250);
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}
button:hover,
button:focus,
.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list_item--active {
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.logo_item {
  margin: 0 auto;
  position: relative;
  left: 50px;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  text-decoration: none;
}

/* our section content */

.profile-section,
.about-section,
.tble {
  max-width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 350px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-header_item {
  flex: 0 1 200px;
}
.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.work-section {
  text-align: center;
}

/* start of grid */
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 80px;
  border:none;
}

.project_item {
  text-align: center;
  background-color: rgb(42, 42, 42);
  color: #fff;

}

.project_item:last-child {
  background-color: #e8ee39;
  color: #000;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

/* form styles */
.form-page {
  display: block;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.form_label {
  display: block;
  height: 50px;
}

table,
td,
th {
  border: 1px solid #357b70;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

@keyframes sun-color {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(100px, 20px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(100px, 20px);
  }
}

@keyframes rotating-grind {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grind {
  animation: 5s rotating-grind infinite linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
/* .window-tab {
  fill: red;
}
.window-tab-2 {
  fill: green;
} */

.screen {
  fill: #357b70;
}

.sticky-note {
  fill: #e8ee39;
}

.message-box {
  fill: #3c9c8c;
}

.cloud-top,
.cloud-bottom {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
.cloud-top {
  animation: 1.8s cloud-move infinite alternate linear;
}

.cloud-bottom {
  animation: 2s cloud-move-reverse infinite alternate-reverse;
}

.screen {
  animation: 3s screen-color infinite alternate linear;
}

.sun {
  animation: 2s sun-color infinite alternate linear;
}

/* Media Queries */

/* our project list  */
@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    gap: 10px;
  }
  .project_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* house all of the shared properties */

@media all and (max-width: 750px) {
  .project-list,
  .about-item {
    gap: 10px;
  }
  .project_item:last-child,
  .about-item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
}

/* our profile & about section */
@media all and (max-width: 500px) {
  .profile-section,
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .profile-section,
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
